// Colors

$color--sabaeus: #00bf6f;
$color--midnight: #05467e;
$color--concord: #671e75;

$color--raspberry: #ac145a;
$color--bumblebee: #f9be00;
$color--bengal: #f05b24;

$color--charcoal: #333e48;
$color--slate: #6c777d;
$color--stone: #9da5aa;

$color--flint: #d0d2d3;
$color--pebble: #edeeee;
$color--canvas: #f4f5f5;

// Spacing
$type--size-m: 1.6rem;